---
If:
  PathMatch: '.*(_test|_tests|\.spec)\.(c|cc|cpp|cxx|h|hh|hpp|hxx)$'
Diagnostics:
  ClangTidy:
    Remove:
      - cppcoreguidelines-avoid-non-const-global-variables
      - cppcoreguidelines-avoid-magic-numbers
      - readability-magic-numbers

---
If:
  PathMatch: 'engine/(src/math|include/isla/engine/math)/.*\.(c|cc|cpp|h|hpp)$'
Diagnostics:
  ClangTidy:
    Remove:
      - cppcoreguidelines-avoid-magic-numbers
      - readability-magic-numbers
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-pro-bounds-constant-array-index
      - cppcoreguidelines-pro-bounds-array-to-pointer-decay
