Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '^(client|engine|server|shared)/(?!.*googletest).*'
SystemHeaders: false
FormatStyle: file
